* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(38 38 38);
}
p,
button,
input {
    font-family: 'Roboto', sans-serif;
    line-height: 120%;
}
.wrapper {
    max-width: 360px;
    margin: 0 auto;
    position: relative;
}
.header__wrapper {
    position: absolute;
    width: 100%;;
    background-color: #756f6f;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
    z-index: 20;
}
.header__title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
.header__score p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: 400;
    text-align: center;
    color: white;
}



.header__modals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.header__modals-modal {
    position: relative;
}
.header__modals-modal-score-btn button {
    font-size: 20px;
    line-height: 120%;
    padding: 6px 10px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__modals-modal-score-btn button:hover {
    color: black;
    background-color: white;
}
.header__modals-modal-score-text {
    height: 0px;
    overflow: hidden;
    transition: 0.2s ease-out;
}
.active-text {
    height: 260px;
}
.header__modals-modal-score-text p {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
}
.header__modals-modal-score-text p:last-child {
    margin: 0;
}




.header__modals-modal-setting-img {
    width: 30px;
    margin-left: auto;
}
.header__modals-modal-setting-img img {
    cursor: pointer;
}
.header__modals-modal-setting-img img:hover {
    opacity: 0.7;
}
.header__modals-modal-settings img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
    margin-bottom: 10px;
    margin-top: 10px;
}
.header__modals-modal-settings {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 0px;
    overflow: hidden;
    transition: 0.2s ease-out;
}
.active-set {
    height: 200px;
}
.header__modals-modal-settings-speed {
    display: flex;
    align-items: center;

}
.header__modals-modal-settings-speed p {
    color: white;
    font-size: 17px;
    margin-right: 10px;
}
.header__modals-modal-settings-speed input {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    padding-left: 10px;
}
.header__modals-modal-settings-speed input:focus-visible {
    outline: none;
}
.header__modals-modal-settings-btn {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.header__modals-modal-settings-btn:hover {
    opacity: 0.7;
}
#main__canvas {
    position: relative;
    margin-top: 180px;
    border-radius: 15px;
    z-index: 10;
}



.modals-modal__game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0px;
    overflow: hidden;

}
.active-game-over {
    height: 200px;
}
.modals-modal__game-over h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    line-height: 120%;
    color: white;
}
.modals-modal__game-over button {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.modals-modal__game-over button:hover {
    opacity: 0.7;
}











footer {
    width: 100%;
    z-index: 100;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 00px 10px 00px
}
.footer__item:nth-child(1) a svg,
.footer__item:nth-child(3) a svg {
    fill: #FFF;
    height: auto;
    transition: 0.1s linear;
}
.footer__item:nth-child(1) a svg {
    width: 60px;
}
.footer__item:nth-child(3) a svg {
    width: 80px;
}
.footer__item:nth-child(1) a svg:hover,
.footer__item:nth-child(3) a svg:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
.footer__item:nth-child(2) p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 110%;
    color: white;
    font-weight: 900;
    letter-spacing: 5px;
    margin-left: 20px;
}
